<app-default-create-sl-layout
title="Crie sua lista agora"
(navigate)="handleNavigate()"
>

<form>

  <!-- <app-primary-input
  formControlName="name",
  inputName="nome da lista",
  placeholder="Digite o nome da lista",
  type="text",
  label="Nome da Lista">
  </app-primary-input> -->

  <!-- <app-primary-input
  formControlName="marketName"
  inputName="marketName"
  placeholder="Nome do Mercado"
  label="Mercado">
</app-primary-input>

<app-primary-input
  formControlName="budget"
  inputName="expectedExpense"
  placeholder="Despesa Estimada"
  type="text"
  label="Despesa Estimada">
</app-primary-input> -->


</form>


</app-default-create-sl-layout>

