<app-default-create-sl-layout
title="Crie sua lista agora"
(navigate)="handleNavigate()"
>

<form [formGroup]="shoppingListForm" (ngSubmit)="handleSubmit($event)">
  <div class="input">
    <app-primary-input
    formControlName="name"
    inputName="nome da lista"
    placeholder="Digite o nome da lista"
    type="text"
    label="Nome da Lista"
    style="padding: 8px 0;">
    </app-primary-input>

    <app-primary-input
    formControlName="marketName"
    inputName="marketName"
    placeholder="Nome do Mercado"
    label="Mercado">
  </app-primary-input>

  <app-primary-input
    formControlName="budget"
    inputName="expectedExpense"
    placeholder="R$ 100.00"
    type="text"
    label="Despesa Estimada"
  >

  </app-primary-input>
  </div>

<div class="button">
  <app-button
  style="padding: 20px 24px;"
  buttonType="secondary"
  size="small"
  (navigate)="handleNavigate()"
  nativeType="button"
  [text]="buttonService.secondaryText()"
  [disablePrimaryBtn]="false"
  >
</app-button>

<app-button
buttonType="primary"
size="small"
nativeType="submit"
[text]="buttonService.primaryText()"
[disablePrimaryBtn]="false"
  ></app-button>
</div>
</form>
</app-default-create-sl-layout>

