@import "../../../../../styles/variables.scss";


.container{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin: 0 8px;
  background-color: white;
  border-radius: 6px;
  padding: 8px 12px;
  color: $text-color;

  .container-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .name{
      width: 80px;
    }

    .price {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 80px;


      p {
        margin: 8px 0;
      }
  }

  .quantity {
    text-align: center;
    margin-top: 8px;
    width: 80px;
  }
  .total {
    text-align: start;
    margin-top: 8px;
    width: 80px;
  }
}
}
