<app-default-login-layout
  title="Não possui cadastro?"
  subtitle="Preencha seus dados e cadastre sua conta"
  (submit)="handleSubmit()"
  (navigate)="handleNavigate()"
  [disablePrimaryBtn]="!signupForm.valid"
  >
  <form [formGroup]="signupForm">
    <app-primary-input
    formControlName="name"
    inputName="name"
    placeholder="Digite seu nome"
    type="text"
    label="Nome">
  </app-primary-input>
    <app-primary-input
      formControlName="email"
      inputName="email"
      placeholder="Digite seu e-mail"
      type="email"
      label="E-mail">
    </app-primary-input>
    <app-primary-input
    formControlName="password"
    inputName="password"
    type="password"
    label="Senha">
  </app-primary-input>
    <app-primary-input
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirme sua senha">
    </app-primary-input>
  </form>
</app-default-login-layout>
