<app-default-login-layout
  title="Vamos começar!"
  subtitle="Entre com suas credenciais e acesse sua conta"
  (submit)="handleSubmit()"
  (navigate)="handleNavigate()"

  [disablePrimaryBtn]="!loginForm.valid"
  >
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      placeholder="Digite seu e-mail"
      type="email"
      label="E-mail">
    </app-primary-input>

    <app-primary-input
      formControlName="password"
      inputName="password"
      placeholder="Digite sua senha"
      type="password"
      label="Senha">
    </app-primary-input>
    <span class="forgot-password">Esqueceu sua senha?</span>
  </form>
</app-default-login-layout>
