@import "../../../../../styles/variables.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
}
main{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 390px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2{
  color: $text-color;
  padding-bottom: 8px;
}

.form-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
