@import "../../../../styles/variables.scss";

.input-wrapper {
  color: $text-color;
  font-size: 16px;
  text-align: start;

  input{
  border: none;
  border-radius: 8px;
  background-color: $secondary-gray-color;

  margin: 4px 0;
  padding: 12px 0 12px 20px;
  width: 100%;
  }
}
