<section class="add-product-form">
  <form [formGroup]="createItemForm" (ngSubmit)="handleSubmit($event)">
    <div class="input-group">
      <label for="name">Produto</label>
      <input formControlName="name" placeholder="Nome do Produto">
    </div>
    <div class="input-group">
      <label for="price">Preço</label>
      <input formControlName="price" type="number" min="0.1" placeholder="R$">
    </div>
      <div class="input-group">
        <label for="quantity">Quantidade</label>
        <input formControlName="quantity" type="number" min="0.01" step="any" placeholder="1">
      </div>
      <button type="submit">Adicionar</button>
  </form>
</section>
